{% extends "base.html" %}


{% block title %} 添加入库 {% endblock %}


{% block content %}

<a class="btn btn-primary" href="#" target="_blank"> 创建盘点任务 </a>
<div class="box-content">
    <table id="product-check" class="table table-striped table-bordered bootstrap-datatable datatable td-center">  <!-- tableID : product-check -->
        <caption>盘点明细</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>日期</th>                    
                <th>盘点名称</th>
                <th>盘点状态</th>
                <th>盘盈</th>
                <th>盘亏</th>
                <th>应盘</th>
                <th>实盘</th>
                <th>盘点仓库</th>
                <th>盘点款式</th>
                <th>RFID标识</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2015/12/13</td>
                <td class="center">库管交接盘库</td>
                <td class="center">已结束</td>
                <td class="data-more">2</td>
                <td class="data-fewer">0</td>
                <td>1012</td>
                <td>1001</td>
                <td>分销门店1仓</td>
                <td>项链</td>
                <td>在库，待销售</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2015/12/18</td>
                <td class="center">月交接盘库</td>
                <td class="center">未开始</td>
                <td class="data-more">0</td>
                <td class="data-fewer">3</td>
                <td>1012</td>
                <td>1001</td>
                <td>分销门店5仓</td>
                <td>项链</td>
                <td>在库，待销售</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
