{% extends "base.html" %}


{% block title %} RFID监控 {% endblock %}


{% block content %}
<h1>RFID监控</h1>
<div class="RFIDsuper">
    <form id="RFIDsupervise" action="">
        <select name="address" form="RFIDsupervise" class="select-down">
            <option e="">北京</option>
            <option value="">上海</option>
            <option value="">杭州</option>
            <option value="">福建</option>
        </select>
 	    <button type="submit" class="btn"> 开始监控</button>
    </form>
</div>

<p class="RFIDsupervise-data">
	异常数据： <span class="error">2</span>
	应监控数据：<span class="supervise">1000</span>
	实时监控：<span class="current">999</span>
</p>
<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable td-center">
        <caption>异常 RFID 明细</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>RFID</th>                    
                <th>所属仓库</th>
                <th>款式</th>
                <th>商品名称</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="">20102029302902</td>
                <td class="center">分销门店1仓</td>
                <td class="center">戒指</td>
                <td class="center">情侣戒指</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable td-center">
        <caption>天线运行状态</caption>
        <thead>
            <tr>
                <th>序号</th>
                <th>天线</th>
                <th>状态</th>
                <th>设备</th>
                <th>所属仓库</th>
                <th>ip</th>
                <th>端口号</th>
            </tr>
        </thead>
        <tbody>
			<tr>
				<td>1</td>
				<td class="">1号天线</td>
				<td class="center">
					<span class="label label-success">运行中</span>
				</td>
				<td class="center">1号设备</td>
				<td class="center">北京</td>
				<td class="center">192.19.90</td>
				<td class="center">506</td>
			</tr>
			<tr>
				<td>2</td>
				<td class="">2号天线</td>
				<td class="center">
					<span class="label label-important">已停止</span>
				</td>
				<td class="center">1号设备</td>
				<td class="center">北京</td>
				<td class="center">192.19.90</td>
				<td class="center">506</td>
			</tr>
			<tr>
				<td>3</td>
				<td class="">3号天线</td>
				<td class="center">
					<span class="label label-warning">故障中</span>
				</td>
				<td class="center">1号设备</td>
				<td class="center">北京</td>
				<td class="center">192.19.90</td>
				<td class="center">506</td>
			</tr>
		</tbody>
    </table>
</div>
{% endblock %}
