{% extends "base.html" %}


{% block title %} RFID 列表 {% endblock %}


{% block content %}

<h1>RFID 列表</h1>
<div class="RFIDls">
    <form id="RFIDlist" action="">
        <select name="address" form="RFIDlist" class="select-down">
            <option value="">北京</option>
            <option value="">上海</option>
            <option value="">杭州</option>
            <option value="">福建</option>
        </select>
        <select name="address" form="RFIDlist" class="select-down">
            <option value="">在库</option>
            <option value="">待销售</option>
            <option value="">已售</option>
            <option value="">调拨中</option>
        </select>
        
        <button type="submit" class="btn"> 查询</button>
    </form>
</div>

<div class="padding-left">
    <img class="left-img" src="../../media/test-pic1.jpg"></img>
    <p>
        款式: 戒指 <br/>
        RFID: <em>201987623405</em><br/>
        标识: 在库 <br/>
        材质: 925 <br/>
        重量(g): 5  尺寸(mm): 3

    </p>
<div>
{% endblock %}
