
/*    page : RFIDsupervise   */

h1 {
    text-align: center;
}

.select-down {
    margin-bottom: 0px;
}

/* form  */
.RFIDsuper {
   margin: 30px auto; 
}

#RFIDsupervise {
    text-align: center;
}

#RFIDsupervise button{
    margin-left: 10%;
}
/* data */
.RFIDsupervise-data span:not(:last-child){
    margin-right: 5%;
}
/* table */

.td-center th, .td-center td{
    text-align: center;
}
span.error{
    color: #ff0033;
    font-size: 1.5rem;
    font-weight: bold;
}

caption {
    padding: 10px 0;
}

.box-content {
    margin: 30px auto;
}


/*
 *
 *   page : product-check
 * 
 * */

td.data-fewer {
    color: #ff0000;
}

td.data-more {
    color: #00dd00;
} 

#product-check caption {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*
 *
 *  page : shops
 *
 **/

.shops-p {
    line-height: 100%;
}

.shops-p .h1-title {
    float: right; 
    font-size: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 45% ;
    vertical-align: middle;
}


/*
 *
 *
 * page : RFID-lists
 *
 *
 * */


#RFIDlist {
    margin: 20px;
    margin-left: 10%;
}
#RFIDlist select, #RFIDlist input{
    margin-right: 2rem;
}
#RFIDlist input {
    margin-bottom: 0;
}

.btn-rfid-long {
    padding-left: 2rem;
    padding-right: 2rem;
}

ul.rfid-info-cards {
    list-style: none;
    margin: 0px auto;
    text-align: center;
}

.rfid-info-card{
    text-align: left;
    display: inline-block;
    padding:0.5rem;
    border: 1px solid #ccc;
    width: 35%;
    min-width: 200px;
    margin: 1% 4% ;
}

.left-img {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height:45%;
    float: left;
    margin-right: 20px;
}


.right-text-info {
    display:table-cell;
    *display: inline-block;
    width: 2000px;
    *width: auto;
}

