/*    ALL     */
h1 {
    text-align: center;
}

.small-h1 {
    font-size: 25px;
}


/*
 *
 *     page : sign in    
 *
 *
 **/

.form-signin .input-group, 
.form-signin .checkbox,
.form-signin .form-actions {
    text-align: center;
}
.form-signin .forgot-password {
    margin:10px 0;
}
/*
 *
 *  page : RFIDsupervise
 *
 *
 * */

.select-down {
    margin-bottom: 0px;
}

/* form  */
.firstForm {
   margin: 45px auto; 
   text-align: center;
}

#RFIDsupervise button{
    margin-left: 10%;
}
/* data */

.RFIDsupervise-data span:not(:last-child){
    margin-right: 5%;
}

p.RFIDsupervise-data:after {
    display: block;
    content:'';
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #ABA8A8; 
}
/* table */

p.RFIDsupervise-data + .box-content{
    margin-top: 55px;
}
.td-center th, .td-center td{
    text-align: center;
}

#error-rfidTable td{
    color: #EF0909;
}

span.error{
    color: #ff0033;
    font-size: 1.5rem;
    font-weight: bold;
}

caption {
    padding: 20px 0;

}

.box-content {
    margin: 30px auto;
}


/*
 *
 *   page : product-check
 * 
 * */

td.data-fewer {
    color: #ff0000;
}

td.data-more {
    color: #00dd00;
} 

#product-check caption,
#product-shelves caption,
#shop-list caption {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*
 *
 *  page : shops
 *
 **/

.shops-p {
    line-height: 100%;
}

.shops-p .h1-title {
    float: right; 
    font-size: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 45% ;
    vertical-align: middle;
}

/*
 *
 *
 * page : RFID-lists
 *
 *
 * */

#RFIDlist select, #RFIDlist input{
    margin-right: 3%;
}
#RFIDlist input {
    margin-bottom: 0;
}

.btn-long {
    padding-left: 3rem;
    padding-right: 3rem;
}

ul.rfid-info-cards {
    list-style: none;
    margin: 0px auto;
    text-align: center;
}

.rfid-info-card{
    text-align: left;
    display: inline-block;
    padding:0.5rem;
    border: 1px solid #ccc;
    width: 35%;
    min-width: 105px;
    margin: 1% 4% ;
}

.left-img {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height:45%;
    float: left;
    margin-right: 20px;
}

.right-text-info {
    display:table-cell;
    *display: inline-block;
    width: 2000px;
    *width: auto;
}

/*
 *
 *
 * warehousing
 *
 *
 *
 * */

/*
 *
 *
 * warehouse--Add
 * warehouse--reduce
 *
 *
 * */

#warehouse-add h2 {
    margin: 30px 20px;
    color: rgba(232, 30, 43, 0.91);
}

.form-actions {
    background-color: #fff;
    border-top: 0px;
}
#warehouse-add .checkbox.inline, 
#warehouse-add .radio.inline {
    margin-left: 0px;
    margin-right: 10px;
}
label.radio.inline{
    padding-left: 20px;
}
.form-horizontal .controls{
    margin-left: 180px;
}
#warehouse-add #ps,
#warehouse-reduce #ps {
    width:270px; 
}
#warehouse-add a {
    color: rgba(0, 124, 204, 0.93);
    text-decoration: underline;
}
