
/* All Mobile Sizes (devices and browser)
====================================================================== */

@media only screen and (max-width: 767px) {
body {
    font-size: 12px;
}

h1 {
    font-size: 2rem;
}
#RFIDsupervise button{
    margin: 0 auto;
}

}

/* page : product-check */

@media only screen and (max-width: 600px) {
	#product-check th:nth-child(3) {
		display: none;
	}
	#product-check td:nth-child(3) {
		display: none;
	}
	#product-check th:nth-child(4) {
		display: none;
	}
	#product-check td:nth-child(4) {
		display: none;
	}

	#product-check th:nth-child(3) {
		display: none;
	}
	#product-check td:nth-child(3) {
		display: none;
	}
	#product-check th:last-child {
		display: none;
	}
	#product-check td:last-child {
		display: none;
	}
}


/* page : RFIDlist */

@media only screen and (max-width: 767px) {

#RFIDlist {
    margin: 0 20%;
}
#RFIDlist select, #RFIDlist input, #RFIDlist button{
    margin-bottom: 1rem;
    width: 100%;
}

}
